@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
.text-white {
  color: white;
}
.font-moji {
  font-family: Mojita;
}
.glass {
  background: rgba(255, 255, 255, 0.5);
  /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37); */
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
}